* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #ec502d;
}

.root {
    height: 100vh;
    min-height: 575px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: white;
    text-align: center;
}

.options {
    display: flex;
    gap: 5rem;
}

button {
    border: none;
    transition: 0.5s ease;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: white;
    background: none;
    cursor: pointer;
}

button:hover {
    transform: translateY(-5px);
}

.active {
    border-bottom: 1px solid currentColor;
}

.circle {
    width: 250px;
    height: 250px;
    border: 10px solid #882a15e0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px #1d0904e0;
}

.timer {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 58px;
    background: none;
}

.control-button-container {
    display: flex;
    gap: 1rem;
}

.control-button {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.play {
    background-image: url("src/play-freepik.png");
}

.pause {
    background-image: url("src/pause.png");
}
