*{
    margin: 0;
    padding: 0;
    background: #FFF6E9;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.title {
    margin: 5rem;
    font: 700 45px "Playfair Display", serif;
}

.container span {
    color: #0e8067;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.date {
    width: 220px;
    height: 30px;
    padding: 5px;
    font: 400 19px "Manrope", sans-serif;
    background: white;
    border: 1px solid;
}

.submit-btn {
    height: 45px;
    width: 155px;
    padding: 0 10px 0 10px;
    font: 19px "Manrope", sans-serif;
    background: #BBE2EC;
    border: 1px solid;
    border-radius: 15px;
}

.submit-btn:hover{
    color: white;
    background: #388ec7;
    cursor: pointer;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    padding-top: 4rem;
}

.paragraph{
    padding-bottom: 2rem;
    font: 400 22px "Lora", sans-serif;
    text-align: center;
}

